@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white(173, 173, 173);
    margin: 0px;
    padding: 0px;
}

header{
    background-color: white;
    padding: 0px;
    margin: 0px;
}

header > img{
    width: 100%;
    position: relative;
}

main{
    background-color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

main > section > article > p{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

main > section > article{
    text-align: center;
}

#autor{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#centralizado{
    text-align: center;
    margin: 10px 0px -10px 0px;
}

#redes{
    border-radius: 40px;
    text-align: center;
    background-color: rgb(10, 10, 10);
    padding: 3px;
    font-weight: bold;
    margin: 30px;
}

#redes > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 25px;
    display: inline-block;
}

#sublinhado > a{
    text-decoration: underline;
    color: white;
    font-weight: bold;
    margin-right: 50px;
}

nav{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 3px;
    margin-top: -5px;
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 25px;
    display: inline-block;
}

article{
    background-color: white;
    margin: 0px;
    padding: 0px;
}

div.img {
    display: inline-block;
    margin: -5px -2.9px -5px -2.9px;

}

div.img >img{
    max-width: 300px;
    width: 100%;
}

div.video{
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    position: static;
    padding: 1px;
    margin: 5px;
}

